.block__chart {
  flex: 1;
  min-height: 0;
  width: 100%;
  height: 100%;
}

.block__chart,
.block__chart * {
  cursor: grab;
}

.block__chart:active svg,
.block__chart:active svg * {
  cursor: grabbing;
}
